In [1]:
# General imports
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random

from math import ceil

from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')

In [2]:
pd.set_option('max_rows', 200)
pd.set_option('max_columns', 200)

In [3]:
## Simple "Memory profilers" to see memory usage
def get_memory_usage():
    return np.round(psutil.Process(os.getpid()).memory_info()[0]/2.**30, 2) 
        
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [4]:
# :df pandas dataframe to reduce size             # type: pd.DataFrame()
# :verbose                                        # type: bool
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [5]:
## Merging by concat to not lose dtypes
def merge_by_concat(df1, df2, merge_on):
    merged_gf = df1[merge_on]
    merged_gf = merged_gf.merge(df2, on=merge_on, how='left')
    new_columns = [col for col in list(merged_gf) if col not in merge_on]
    df1 = pd.concat([df1, merged_gf[new_columns]], axis=1)
    return df1

In [6]:
########################### Vars
#################################################################################
TARGET = 'sales'         # Our main target
END_TRAIN = 1913         # Last day in train set
MAIN_INDEX = ['id','d']  # We can identify item by these columns

In [7]:
########################### Load Data
#################################################################################
print('Load Main Data')

# Here are reafing all our data 
# without any limitations and dtype modification
train_df = pd.read_csv('../input/m5-forecasting-accuracy/sales_train_validation.csv')
prices_df = pd.read_csv('../input/m5-forecasting-accuracy/sell_prices.csv')
calendar_df = pd.read_csv('../input/m5-forecasting-accuracy/calendar.csv')

Load Main Data

In [8]:
for col in ['item_id','dept_id','cat_id']:
    train_df[col] = train_df[col].astype('category')

In [9]:
########################### Make Grid
#################################################################################
print('Create Grid')

# We can tranform horizontal representation 
# to vertical "view"
# Our "index" will be 'id','item_id','dept_id','cat_id','store_id','state_id'
# and labels are 'd_' coulmns

index_columns = ['id','item_id','dept_id','cat_id','store_id','state_id']
grid_df = pd.melt(train_df, 
                  id_vars = index_columns, 
                  var_name = 'd', 
                  value_name = TARGET)

# If we look on train_df we se that 
# we don't have a lot of traning rows
# but each day can provide more train data
print('Train rows:', len(train_df), len(grid_df))

# To be able to make predictions
# we need to add "test set" to our grid
add_grid = pd.DataFrame()
for i in range(1,29):
    temp_df = train_df[index_columns]
    temp_df = temp_df.drop_duplicates()
    temp_df['d'] = 'd_'+ str(END_TRAIN+i)
    temp_df[TARGET] = np.nan
    add_grid = pd.concat([add_grid,temp_df])

grid_df = pd.concat([grid_df,add_grid])
grid_df = grid_df.reset_index(drop=True)

# Remove some temoprary DFs
del temp_df, add_grid

# We will not need original train_df
# anymore and can remove it
del train_df

# You don't have to use df = df construction
# you can use inplace=True instead.
# like this
# grid_df.reset_index(drop=True, inplace=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

# We can free some memory 
# by converting "strings" to categorical
# it will not affect merging and 
# we will not lose any valuable data
for col in index_columns:
    grid_df[col] = grid_df[col].astype('category')

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

Create Grid
Train rows: 30490 58327370
    Original grid_df:   2.4GiB
     Reduced grid_df:   1.3GiB

In [10]:
# ########################### onehot 'event_name_1', 'event_type_1','event_name_2','event_type_2'
# #################################################################################
# for col in ['event_name_1', 'event_type_1','event_name_2','event_type_2']:
#     calendar_df = pd.concat([calendar_df, pd.get_dummies(calendar_df[col],  prefix=''.join([t[0] for t in col.split('_')]))],axis=1)
#     calendar_df.drop([col], axis=1, inplace=True)
# calendar_df.columns = [''.join([c for c in col if c.isalnum() or c == '_']) for col in calendar_df.columns]

In [11]:
########################### Product Release date
#################################################################################
print('Release week')

# It seems that leadings zero values
# in each train_df item row
# are not real 0 sales but mean
# absence for the item in the store
# we can safe some memory by removing
# such zeros

# Prices are set by week
# so it we will have not very accurate release week 
release_df = prices_df.groupby(['store_id','item_id'])['wm_yr_wk'].agg(['min']).reset_index()
release_df.columns = ['store_id','item_id','release']

# Now we can merge release_df
grid_df = merge_by_concat(grid_df, release_df, ['store_id','item_id'])
del release_df

# We want to remove some "zeros" rows
# from grid_df 
# to do it we need wm_yr_wk column
# let's merge partly calendar_df to have it
grid_df = merge_by_concat(grid_df, calendar_df[['wm_yr_wk','d']], ['d'])
                      
# Now we can cutoff some rows 
# and safe memory 
grid_df = grid_df[grid_df['wm_yr_wk']>=grid_df['release']]
grid_df = grid_df.reset_index(drop=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

# Should we keep release week 
# as one of the features?
# Only good CV can give the answer.
# Let's minify the release values.
# Min transformation will not help here 
# as int16 -> Integer (-32768 to 32767)
# and our grid_df['release'].max() serves for int16
# but we have have an idea how to transform 
# other columns in case we will need it
grid_df['release'] = grid_df['release'] - grid_df['release'].min()
grid_df['release'] = grid_df['release'].astype(np.int16)

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

Release week
    Original grid_df:   1.7GiB
     Reduced grid_df:   1.5GiB

In [12]:
########################### Prices
#################################################################################
print('Prices')

# We can do some basic aggregations
prices_df['price_max'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('max')
prices_df['price_min'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('min')
prices_df['price_std'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('std')
prices_df['price_mean'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('mean')

# and do price normalization (min/max scaling)
prices_df['price_norm'] = prices_df['sell_price']/prices_df['price_max']

# Some items are can be inflation dependent
# and some items are very "stable"
prices_df['price_nunique'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('nunique')
prices_df['item_nunique'] = prices_df.groupby(['store_id','sell_price'])['item_id'].transform('nunique')

# I would like some "rolling" aggregations
# but would like months and years as "window"
calendar_prices = calendar_df[['wm_yr_wk','month','year']]
calendar_prices = calendar_prices.drop_duplicates(subset=['wm_yr_wk'])
prices_df = prices_df.merge(calendar_prices[['wm_yr_wk','month','year']], on=['wm_yr_wk'], how='left')
del calendar_prices

# Now we can add price "momentum" (some sort of)
# Shifted by week 
# by month mean
# by year mean
prices_df['price_momentum'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id'])['sell_price'].transform(lambda x: x.shift(1))
prices_df['price_momentum_m'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','month'])['sell_price'].transform('mean')
prices_df['price_momentum_y'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','year'])['sell_price'].transform('mean')

for size in [2,4]:
    prices_df[f'prive_rolling{size}_std'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform(lambda x: x.rolling(size).std())

del prices_df['month'], prices_df['year']

Prices

In [13]:
# Make some features from date
calendar_df['date'] = pd.to_datetime(calendar_df['date'])
calendar_df['tm_d'] = calendar_df['date'].dt.day.astype(np.int8)
calendar_df['tm_w'] = calendar_df['date'].dt.week.astype(np.int8)
calendar_df['tm_m'] = calendar_df['date'].dt.month.astype(np.int8)
calendar_df['tm_y'] = calendar_df['date'].dt.year
calendar_df['tm_y'] = (calendar_df['tm_y'] - calendar_df['tm_y'].min()).astype(np.int8)
calendar_df['tm_wm'] = calendar_df['tm_d'].apply(lambda x: ceil(x/7)).astype(np.int8)

calendar_df['tm_dw'] = calendar_df['date'].dt.dayofweek.astype(np.int8)
calendar_df['tm_w_end'] = (calendar_df['tm_dw']>=5).astype(np.int8)

icols = ['event_name_1',
         'event_type_1',
         'event_name_2',
         'event_type_2']
for col in icols:
    calendar_df = pd.concat([calendar_df, pd.get_dummies(calendar_df[col],  prefix=''.join([t[0] for t in col.split('_')]))],axis=1)
    calendar_df.drop([col], axis=1, inplace=True)
calendar_df.columns = [''.join([c for c in col if c.isalnum() or c == '_']) for col in calendar_df.columns]
calendar_df.drop(columns=['weekday'], inplace=True)

In [15]:
grid_df = merge_by_concat(grid_df, prices_df, ['store_id','item_id','wm_yr_wk'])
grid_df = merge_by_concat(grid_df, calendar_df, ['wm_yr_wk', 'd'])
grid_df['d'] = grid_df['d'].apply(lambda x: x[2:]).astype(np.int16)

In [ ]:
# grid_df = grid_df.merge(prices_df, on=['store_id','item_id','wm_yr_wk'], how='left')
# grid_df = grid_df.merge(calendar_df, on=['wm_yr_wk', 'd'], how='left')
# grid_df['d'] = grid_df['d'].apply(lambda x: x[2:]).astype(np.int16)

In [16]:
grid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46881677 entries, 0 to 46881676
Data columns (total 77 columns):
id                         category
item_id                    category
dept_id                    category
cat_id                     category
store_id                   category
state_id                   category
d                          int16
sales                      float64
release                    int16
wm_yr_wk                   int64
sell_price                 float64
price_max                  float64
price_min                  float64
price_std                  float64
price_mean                 float64
price_norm                 float64
price_nunique              float64
item_nunique               int64
price_momentum             float64
price_momentum_m           float64
price_momentum_y           float64
prive_rolling2_std         float64
prive_rolling4_std         float64
date                       datetime64[ns]
wday                       int64
month                      int64
year                       int64
snap_CA                    int64
snap_TX                    int64
snap_WI                    int64
tm_d                       int8
tm_w                       int8
tm_m                       int8
tm_y                       int8
tm_wm                      int8
tm_dw                      int8
tm_w_end                   int8
en1_ChanukahEnd            uint8
en1_Christmas              uint8
en1_CincoDeMayo            uint8
en1_ColumbusDay            uint8
en1_Easter                 uint8
en1_EidalFitr              uint8
en1_EidAlAdha              uint8
en1_Fathersday             uint8
en1_Halloween              uint8
en1_IndependenceDay        uint8
en1_LaborDay               uint8
en1_LentStart              uint8
en1_LentWeek2              uint8
en1_MartinLutherKingDay    uint8
en1_MemorialDay            uint8
en1_Mothersday             uint8
en1_NBAFinalsEnd           uint8
en1_NBAFinalsStart         uint8
en1_NewYear                uint8
en1_OrthodoxChristmas      uint8
en1_OrthodoxEaster         uint8
en1_PesachEnd              uint8
en1_PresidentsDay          uint8
en1_PurimEnd               uint8
en1_Ramadanstarts          uint8
en1_StPatricksDay          uint8
en1_SuperBowl              uint8
en1_Thanksgiving           uint8
en1_ValentinesDay          uint8
en1_VeteransDay            uint8
et1_Cultural               uint8
et1_National               uint8
et1_Religious              uint8
et1_Sporting               uint8
en2_CincoDeMayo            uint8
en2_Easter                 uint8
en2_Fathersday             uint8
en2_OrthodoxEaster         uint8
et2_Cultural               uint8
et2_Religious              uint8
dtypes: category(6), datetime64[ns](1), float64(13), int16(2), int64(8), int8(7), uint8(40)
memory usage: 10.3 GB

In [17]:
grid_df.to_pickle('grid_df.pkl')

In [19]:
grid_df.tail()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,release,wm_yr_wk,sell_price,price_max,price_min,price_std,price_mean,price_norm,price_nunique,item_nunique,price_momentum,price_momentum_m,price_momentum_y,prive_rolling2_std,prive_rolling4_std,date,wday,month,year,snap_CA,snap_TX,snap_WI,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end,en1_ChanukahEnd,en1_Christmas,en1_CincoDeMayo,en1_ColumbusDay,en1_Easter,en1_EidalFitr,en1_EidAlAdha,en1_Fathersday,en1_Halloween,en1_IndependenceDay,en1_LaborDay,en1_LentStart,en1_LentWeek2,en1_MartinLutherKingDay,en1_MemorialDay,en1_Mothersday,en1_NBAFinalsEnd,en1_NBAFinalsStart,en1_NewYear,en1_OrthodoxChristmas,en1_OrthodoxEaster,en1_PesachEnd,en1_PresidentsDay,en1_PurimEnd,en1_Ramadanstarts,en1_StPatricksDay,en1_SuperBowl,en1_Thanksgiving,en1_ValentinesDay,en1_VeteransDay,et1_Cultural,et1_National,et1_Religious,et1_Sporting,en2_CincoDeMayo,en2_Easter,en2_Fathersday,en2_OrthodoxEaster,et2_Cultural,et2_Religious
46881672,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,1941,NaN,0,11617,2.98,2.98,2.48,0.171600,2.801560,1.000000,5.0,206,1.0,1.029224,1.022790,0.0,2.330168e-08,2016-05-22,2,5,2016,0,0,0,22,20,5,5,4,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46881673,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,1941,NaN,0,11617,2.48,2.68,2.00,0.253165,2.507979,0.925373,4.0,135,1.0,0.996908,1.111908,0.0,0.000000e+00,2016-05-22,2,5,2016,0,0,0,22,20,5,5,4,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46881674,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,1941,NaN,0,11617,3.98,4.38,3.98,0.188591,4.115957,0.908676,3.0,150,1.0,0.965839,1.000000,0.0,2.395027e-08,2016-05-22,2,5,2016,0,0,0,22,20,5,5,4,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46881675,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,1941,NaN,230,11617,1.28,1.28,1.28,0.000000,1.280000,1.000000,1.0,44,1.0,1.000000,1.000000,0.0,0.000000e+00,2016-05-22,2,5,2016,0,0,0,22,20,5,5,4,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
46881676,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,1941,NaN,304,11617,1.00,1.00,1.00,0.000000,1.000000,1.000000,1.0,142,1.0,1.000000,1.000000,0.0,0.000000e+00,2016-05-22,2,5,2016,0,0,0,22,20,5,5,4,6,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0